#title {
    text-align: center;
    font-size: 30px;
}

body {
    background-image: url(../images/background.jpg);
    color: orange;
    text-align: center;
}

.instructions{
    text-align: center;
}

#instructions {
    text-align: center;
}

.container{
    font-weight: 20px;
    font-size: 22px;
}